<a href="https://colab.research.google.com/github/sahintarkan/DA_Statistics/blob/master/01_Stats_Assign_F1498(Central_Tendency%26_Dispersion)_bos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [3]:
np.random.seed(1)
samples =np.random.normal(loc=100, scale=15,size=1000)
samples

array([124.36518045,  90.8236538 ,  92.07742372,  83.90547067,
       112.98111444,  65.47691955, 126.17217646,  88.58189649,
       104.78558644,  96.25944437, 121.93161906,  69.09788936,
        95.16374194,  94.23918468, 117.00654164,  83.50163099,
        97.41357689,  86.83212373, 100.6332062 , 108.74222821,
        83.49071234, 117.17085565, 113.52386081, 107.53741508,
       113.51283924,  89.74408211,  98.15664662,  85.96345849,
        95.98167881, 107.955332  ,  89.62508872,  94.0486971 ,
        89.6924095 ,  87.32191538,  89.93130804,  99.81003102,
        83.24034477, 103.51623547, 124.89703266, 111.13066241,
        97.12246671,  86.68556554,  88.79262559, 125.38681902,
       100.76211632,  90.4450653 , 102.86373227, 131.50382705,
       101.80238429, 109.25804665, 104.5025548 ,  94.7162523 ,
        82.86222703,  94.75985916,  96.8665865 , 108.79934787,
       112.58475121, 113.96653122, 104.28380988, 113.27711746,
        88.68403089, 118.79302233, 107.69394731,  95.52860747,
       107.3277722 ,  98.8664243 , 116.97444081, 122.79725225,
       132.7836311 ,  79.05255497,  78.33829292,  92.43301206,
       102.40055604, 113.14253382, 104.73452421,  69.66698176,
        95.40693981, 112.41961964, 103.45142103, 111.4301677 ,
        96.66507786,  96.98862897, 102.79842086, 106.15077471,
       102.9744958 , 101.78512969,  89.94006571, 105.66345679,
       101.82731906, 116.94225862, 117.9837682 , 102.77734626,
        94.37072575,  90.41904389, 106.35241531, 101.16010103,
        94.84219487, 100.65395285,  90.69998734, 110.47048051,
        93.29307153, 118.36761557, 106.05237463, 108.90367785,
        83.57632231, 102.5407365 , 111.10834677,  85.69449097,
        96.00672241, 100.4892182 ,  79.4032402 , 104.72739088,
       112.69240971,  87.10726089, 105.25818968,  80.31574883,
        99.41956736,  75.76341468, 116.82126562, 106.13350807,
        99.63074566,  88.37257571, 119.10633895, 129.50652624,
        72.13027203, 118.54246046, 124.4147613 , 105.07017545,
        82.01097951, 112.95017976,  97.28619547,  90.94119058,
        81.54912796, 108.25806244, 111.89210299,  90.64703905,
       107.80864506,  82.83487916, 112.02791548, 100.69850948,
        97.20145342,  98.47381191, 113.03329236, 111.2561746 ,
       107.94197987, 102.06551815, 101.16731692, 109.27570393,
       103.48741839, 110.2382711 ,  95.3482484 ,  63.47743354,
       115.58236903, 132.8046947 , 106.62046665,  98.4976715 ,
        97.95332884,  98.21418718, 100.26114112,  83.16971907,
        92.24358313,  85.04459759, 103.73198742,  95.55038271,
       107.42816986,  97.3794526 , 114.79502782, 103.20300852,
       132.86049593,  71.55458616,  90.29624968, 113.52230337,
       137.9248856 ,  96.27047833, 100.6550349 ,  96.60528636,
       119.97185669,  95.69038205, 110.2010476 ,  95.20297602,
        80.91161867, 104.70321581, 107.5477722 , 119.39838824,
        98.3432946 ,  90.73956904, 108.44141645, 103.61105638,
       104.20997616,  98.90330944, 117.40507855, 105.54239075,
       128.56988063, 116.66585048, 109.88574694,  75.58842489,
       109.0347892 , 106.30423305, 112.16427509, 115.66663142,
        93.98682712, 112.36008428,  91.56541853, 129.32317113,
        80.020725  ,  73.58967159,  75.23918101,  86.64166624,
        83.21326902, 129.34118356,  95.10250753,  79.85986316,
       116.71574465,  91.20214092,  81.44719935, 113.13758391,
       109.35043265,  93.47564976, 121.1131    , 101.9365237 ,
       124.25424398, 107.54111323, 123.38208311, 101.64104045,
        81.70383405, 136.74052974,  91.81338748,  97.01743206,
        89.49402243,  96.94908327, 103.64004162, 103.02745268,
       109.91530431, 126.88237313,  98.19303142,  81.50318897,
        82.2652281 ,  90.01368223,  74.88706289, 112.37544737,
        92.52679655,  95.33522533,  99.97162776,  79.05069363,
        87.08025459, 110.12067289, 109.27808696,  93.35242104,
       127.15802371,  80.41409616,  94.82519185,  96.53740385,
        58.103725  , 129.0629322 , 105.49498022,  84.33115927,
       130.76760164, 108.78493   , 106.4428921 ,  90.89502403,
       101.59334086,  77.11479526, 111.92539142,  94.38342522,
       102.01072295, 118.03082293, 104.27122166, 103.93701168,
       104.14748957,  89.00092594, 112.54007079, 123.15038666,
       111.3820849 , 113.27363222,  86.84077722,  86.98319166,
        78.38685964, 118.48379606,  96.18730199, 120.99765914,
        88.27132476,  93.43736526, 101.43137631, 113.82175103,
       100.91125294, 103.16687133, 100.24791351, 102.6578158 ,
        83.25294973, 101.21390651,  97.2013151 ,  99.14763279,
       107.38504834,  89.78982788,  98.73237959,  95.53957176,
       106.25953007, 111.77155977,  85.66862106, 108.78865647,
       130.9867498 ,  77.93264611,  87.54742157,  86.791336  ,
        95.81353418, 124.34273629, 100.20029015,  89.57959607,
       109.32705256,  91.00293203, 116.85118243, 104.5790056 ,
       120.83169095,  90.07983635, 145.46285669, 112.36876938,
       109.81870229,  99.23217329,  89.11604321,  86.98346984,
        97.96034011,  88.04095322, 104.24013568,  87.60853852,
       109.31624051, 114.34182556,  89.41239239, 117.89029102,
        96.43087096, 117.32931829, 106.57249521, 116.83492482,
        85.04470307,  98.3980902 , 121.77143891,  90.72944728,
        69.44198161,  70.86116228,  62.40339021,  68.28754117,
        93.82541255, 119.17792124,  93.36656081, 104.8529103 ,
        98.35012765, 100.12823418,  97.4770174 ,  97.38729484,
       106.9174615 ,  82.36025993, 115.15190766, 113.800269  ,
        97.07413989, 112.08090136,  89.47983361,  91.94165464,
       102.34395775,  97.14668462,  93.26892951,  89.91327942,
        91.63757917, 114.08753116,  70.85014891, 105.28741547,
        96.45344572, 110.9172025 , 107.7261042 ,  58.26198299,
       108.76969916, 104.86411365, 100.32794255,  92.96989276,
       112.79921833,  93.80456035, 127.5207644 , 108.46574283,
       132.06742101,  88.21699005,  73.6611154 , 110.72184396,
       112.79056093, 100.53040146,  76.91810131,  93.28157223,
       109.26978301,  97.23735512,  98.26022222,  97.36811547,
        85.99128017,  92.00469511,  78.60166869, 126.51939922,
        92.86940687, 107.16415273,  84.67171083, 111.91792359,
        71.90258534, 113.80922677,  99.46948113, 131.6590758 ,
        80.40198891, 101.1457072 , 105.50847721, 118.49348789,
        93.65714558, 101.2969661 ,  67.86299906,  87.54746704,
       106.77423926, 116.56261489,  95.77395596, 130.84533285,
       126.4037384 ,  99.09021262,  63.79745498,  73.33650436,
        88.3321176 , 116.73761662, 104.65408432,  68.58628276,
        96.56851257, 124.20042062,  94.37792969,  88.75045574,
       130.81936154, 100.80114305,  92.81264352, 105.25250738,
       100.2574709 ,  93.56286583, 118.12684493, 116.73552704,
       112.61292337,  98.45669174, 117.20350565,  99.25446131,
       106.99964901, 115.50530302, 112.1326654 , 126.84632025,
       106.76926024,  74.73910021,  82.59744843, 120.25160228,
        95.03075245, 105.79808718,  87.22816515, 115.01322136,
        94.22751627, 121.87162358,  92.01648969, 116.77200095,
       110.11594157,  89.16412142, 116.48494499,  86.47548264,
        87.66299217, 110.82566938,  90.61986998,  91.09235399,
        94.84148936,  84.99746215, 115.67491615, 109.12772048,
        98.96006955,  98.37411899, 106.75233269, 126.48002651,
       113.06454704,  92.37314299, 111.66128808,  98.21843242,
        97.01502724, 127.99707063,  93.71593153,  92.81222627,
        70.71842069,  78.96506282, 106.76684408,  89.57618648,
       107.73120703,  83.27693421,  88.49035261, 110.1185606 ,
       121.91338571, 108.88709202, 117.96746263, 125.56891257,
       115.6013373 ,  86.22339943,  98.41982931, 109.45293506,
        93.77729648, 106.77919056,  76.31265572,  87.57058032,
       107.93319618,  66.44370233,  83.38431247,  99.73422523,
        74.20908288, 100.85681494,  88.00678764,  95.62608107,
        96.1152572 , 102.83939796,  91.54316898, 101.34529611,
        90.98264799, 108.34110265, 125.4071367 , 102.95304669,
       102.54803883,  82.53988043, 110.40049338,  88.62899007,
        87.86729205, 108.36159179, 102.71558117, 116.60763176,
       121.64315393,  91.90477657, 101.92565485, 126.40622775,
       114.49808875, 110.69573575, 119.59309098,  90.93095546,
       109.54875114, 121.13880084, 124.31368428,  87.90722774,
        96.22488689, 105.74072761,  95.66503985,  94.1227564 ,
       110.26001992,  94.69885026,  73.18130663, 105.42770974,
        93.63260814,  89.02703527,  76.51392774, 115.207337  ,
        66.59331052,  74.50999593,  95.86230906, 118.43433378,
       119.64558859,  82.67526048,  97.33551706,  77.34315437,
       115.16810596,  77.85156009,  97.85206382, 115.49475668,
        96.66378957, 122.05240516,  86.94987665, 105.53785704,
       112.79923279,  97.90432404, 120.79471396, 108.22194377,
        75.4382561 , 159.37904056, 109.72965466, 101.61014941,
        79.01780772, 101.22651728,  93.10085754, 109.66530499,
       105.57505437, 127.79514228, 102.13377059, 107.7025822 ,
       105.58685277,  97.77265295,  97.24899704, 116.51500304,
       111.70040703,  90.55837594,  83.29845846,  98.98884963,
       117.42159973,  99.58705921, 126.19652634,  88.37394569,
       102.12460806,  62.25544209,  91.06498179,  95.36318022,
       107.66406662, 125.65992758, 100.52415384, 121.80876372,
       109.92521615, 114.7952827 ,  93.00767715, 120.77487015,
        83.90553582, 107.42737917,  85.71906849,  92.22781671,
        78.07894593,  92.25478137, 105.26675345,  98.96844305,
        79.78352588, 122.06109785, 105.05831407, 115.1209815 ,
       111.77840379,  90.0269835 ,  70.82429562,  86.26863448,
       118.37733774,  84.19680889, 112.24065526,  90.8138954 ,
       105.89663867,  72.64120221, 117.50612749,  99.4049695 ,
       113.28738698, 102.84792474, 111.97095693,  98.47101941,
       111.15034815,  77.35640974,  83.78933961, 110.88211007,
        99.41232616,  96.56868743,  97.30581558, 107.52587664,
        91.09984369, 107.65461395,  86.26312226,  93.89121935,
       114.77427508, 116.06878642,  83.5426846 , 112.57952121,
        84.41226517, 110.99534848,  71.51781911,  83.24333961,
        92.36541583,  97.50271068, 121.35421644, 113.55998761,
       123.63201863, 118.09911847,  95.75704673,  96.00509674,
       116.03457433, 100.60557147,  97.64509491,  79.97195915,
        98.40309818,  58.1350539 ,  93.15823667,  85.30164623,
       110.38861521,  92.81991465,  95.06422676, 120.20658197,
        84.26398382, 104.74988343,  71.57099579, 101.34593676,
       106.15398618, 112.89806458,  86.5197521 , 104.79485413,
       104.772313  ,  99.71152549, 102.25024418, 106.95301483,
       105.96820637,  85.05983666,  82.06207735, 137.58970428,
       128.7968843 ,  79.12459186, 106.75326613, 109.41155624,
       111.27005853, 102.10593155,  86.09692091,  97.2636939 ,
        92.63312293, 102.01559674,  95.97443044,  98.02486561,
       115.27828712, 118.458373  ,  82.28345241,  93.10104843,
        88.13800069, 118.35583318,  99.10948146, 121.73484106,
        92.83628718, 100.38999991,  79.7695533 , 119.53803305,
        94.56081869,  77.72265323,  91.11308072,  65.42638093,
        99.52274241, 101.68731614, 104.32117251, 122.47162275,
        95.48535769, 112.11183876, 104.68358034,  97.10017539,
        68.84796967, 114.21251751,  92.44039076, 100.26933837,
        80.94308835, 104.24493301, 101.62046226, 100.44126428,
        97.97810306, 115.73827436, 114.49331294, 110.88875279,
       149.81618134,  90.99662004,  94.30723727,  84.77794464,
       106.53979294,  89.6876891 ,  59.52457388,  81.79992811,
       101.08377849, 115.14681002,  76.64587663,  90.81336808,
        97.90972292,  89.07193766, 107.9674569 , 100.06001263,
       104.81898872,  89.12177611, 123.04804492,  99.99437487,
       119.40324431,  93.41503505, 108.85059196,  89.80924326,
        85.73636123,  89.43474503,  99.31199971,  96.71899812,
       123.08810514,  82.76943656,  83.64492501, 125.5028222 ,
       109.13175488,  71.77883699, 107.45903648, 103.55999049,
        67.8333393 ,  94.45656362,  99.73817572, 110.97103776,
       114.317435  , 101.43620157, 115.50176205,  97.80590088,
        87.13754763,  85.98727235, 108.13967942,  70.62746372,
       110.16711357,  83.40140399,  94.61163856, 107.58072854,
       118.26911351,  70.88978553,  87.90732682, 100.73592539,
        91.05870498, 112.92434652,  68.70414152, 105.42702461,
       106.38880265, 100.73620596, 116.53355099,  81.5563862 ,
       116.62925137,  89.45619396, 110.88325777,  95.13693671,
       112.21514694, 111.70704895,  78.0391964 ,  97.68263209,
        98.61351522,  96.43187102,  88.66505852, 127.77156842,
       103.13645015, 123.32523991,  91.4627702 ,  84.07304858,
       101.98371668,  91.55145094, 135.85218944, 103.68134274,
       117.28898703,  96.63646342,  95.10908041,  99.53632874,
       105.33575892, 112.74380268,  98.16768977,  89.78722639,
        83.98185135,  98.84980956, 108.59444089, 106.86920614,
        99.73273676,  90.99791801, 102.20147895, 108.57707318,
        99.44773515, 101.68552733,  97.74243512, 113.73248902,
        93.42699599, 102.78303431, 105.91642045, 110.88283837,
       122.43827149, 110.13180714, 108.98819853,  77.94644366,
       109.09605916, 134.40576419,  87.54983522,  84.70720226,
        96.78019237, 115.31872189, 107.87125738,  92.8431369 ,
        99.46014727, 115.55558473, 110.08929622, 136.43315454,
       115.0853002 , 105.30350824, 109.22089414,  94.76523714,
        85.33340498, 102.57935698, 107.35841566,  79.07075462,
        92.16465302,  94.46116147, 103.98463604,  96.09300912,
       106.67645066, 101.47168369, 115.90491264,  74.33248511,
       124.85686957, 121.26511019, 100.75475629, 109.75484821,
       109.09822601,  88.94065558, 102.46997599, 111.67261269,
       104.64725138, 115.76981152, 101.42494165, 101.21126483,
        88.48294381,  94.53192925,  93.10423478, 125.58225277,
       103.60758328,  85.00860248, 105.97897582,  97.11994455,
        54.19353429, 107.19778557,  76.70951825, 108.6769663 ,
        85.58104601,  78.12513309, 107.41512476,  77.58709352,
        93.29951195, 103.06566092, 109.18348785, 111.17326805,
        99.45578067,  87.51406978, 128.85723139,  90.91028019,
       127.05383472,  93.2121254 , 117.4192854 , 116.04948308,
        84.31698629, 105.32926761, 111.33088044, 110.51473182,
        97.01593825, 104.52940068,  94.07965479,  82.42279931,
       114.76018355,  91.60477867, 120.69637287, 109.03676352,
        86.6102999 ,  97.58202521,  95.70422627,  86.93668526,
       107.52144385,  92.82078889, 124.4753727 , 112.91336862,
        86.79716403,  99.71499218,  96.59859712,  76.53238219,
       113.96883518, 114.24713223, 113.88251822,  93.14518214,
       116.03478957,  96.85370597, 114.02721669, 127.18791723,
       102.10164822,  78.71276834,  95.24648205, 109.614788  ,
       118.29811569,  82.99311947,  97.14177554, 103.50008689,
       106.52497486, 113.65635405,  85.77340515,  93.64782554,
       115.11949716, 105.88502367, 106.72570976, 116.87985248,
       101.56080085, 107.92005133,  95.28154207,  79.8248497 ,
        80.57113172, 101.11480831,  97.00658923,  90.18095247,
       104.77021445,  86.64592672, 101.670059  ,  99.70716163,
        87.40016628,  65.52691179, 121.8479108 , 104.74955854,
        60.03811091,  93.60357074, 105.90681597,  96.57788964,
       108.70495169,  85.40098622, 102.62751594,  99.19774461,
        97.2540702 ,  96.68456647, 102.99639333, 113.99082121,
        92.048203  ,  93.89139964, 102.40847488,  98.19775037,
       105.78403439, 110.77436104, 119.36783354,  98.25333778,
        65.84053005,  98.95563191, 105.3080564 ,  97.19567475])

Compute the **mean**, **median**, and **mode**

In [12]:
mean=samples.mean()
median=np.median(samples)
mode=stats.mode(samples)
print(mean,median,mode)

100.58218714239403 100.61938883303824 ModeResult(mode=array([54.19353429]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [14]:
min = samples.min()
max =samples.max()
q1 =np.percentile(samples, 25)
q3 =np.percentile(samples, 75)
iqr =stats.iqr(samples)

In [15]:
min , max , iqr , q1 , q3

(54.193534293605424,
 159.37904056056945,
 19.562389286089342,
 90.99759351968441,
 110.55998280577376)

Compute the **variance** and **standard deviation**

In [16]:
variance = np.var(samples)
std_dev =np.std(samples)

In [17]:
variance , std_dev , np.sqrt , np.square

(216.53304992821992, 14.715062008983175)

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [19]:
skewness =stats.skew(samples)
kurtosis =stats.kurtosis(samples)

In [20]:
skewness , kurtosis

(-0.06835228125486917, 0.23360137518812696)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [22]:
x = np.arange(10, 20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [26]:
y = np.random.randint(1,100 , 10)
y

array([34, 37, 10,  1, 56, 70, 11,  4, 40, 78])

In [27]:
np.random.seed(5)
y = np.random.randint(1,100 , 10)
y

array([79, 62, 17, 74,  9, 63, 28, 31, 81,  8])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [29]:
r = np.corrcoef(x,y)
r

array([[ 1.        , -0.32329532],
       [-0.32329532,  1.        ]])

In [34]:
r=stats.pearsonr(x,y)
r

(-0.32329532278115697, 0.362188680125618)

## Pandas Correlation Calculation

Run the code below

In [35]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

In [37]:
r=stats.pearsonr(x,y)
r

(0.758640289091187, 0.010964341301680813)

Call the relevant method  to calculate Pearson's r correlation.

In [32]:
r =stats.pearsonr(x,y)
r

(-0.32329532278115697, 0.362188680125618)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [39]:
rho =stats.spearmanr(x,y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import

Load "tips" dataset from Seaborn

In [41]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [42]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [43]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000